<ng-template #icon>
    <span class="text-danger"><fa-icon [icon]="faTrash"></fa-icon></span>
</ng-template>
<ng-template #template>
        <div class="">
            <p class="mt-2">Tem certeza que deseja excluir esse registro? Ele não poderá ser recuperado.</p>
        </div>
        <div class="mt-1">
            <div class="d-flex align-items-center justify-content-between flex-wrap ">
                <div *ngIf="erro" class="m-0">
                    <p class="text-danger" *ngIf="erro">{{erro}}</p>
                </div>
                <button class="btn btn-danger mr-0 ms-auto" [disabled]="loading" (click)="send()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    <span>Excluir</span>
                </button>
            </div>
        </div>
</ng-template>