<ng-template #icon>
    <fa-icon [icon]="faTrash" ></fa-icon>
</ng-template>
<ng-template #template>
    <form #form="ngForm" (ngSubmit)="send()" class="px-3">
    
        <div class="row">
            <p>Tem certeza que deseja 
                <strong class="text-danger" >excluir</strong>
                 esse registro?
            </p>
        </div>

        <div class="row mt-1">
            <div class="d-flex align-items-center justify-content-between flex-wrap p-0 ">
                <div *ngIf="erro || form.invalid" class="m-0">
                    <p class="text-danger" *ngIf="erro">{{erro}}</p>
                   
                </div>
                <button class="btn btn-success mr-0 ms-auto" [disabled]="form.invalid || loading ">
                    <span *ngIf="loading" class="spinner-border spinner-border-smme-1"></span>
                    <span>Excluir</span>
                </button>
            </div>
        </div>
    </form>
</ng-template>