.p-dropdown-label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    width: 1%;
    text-overflow: ellipsis;
    cursor: pointer;
}

.p-inputtext {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-size: 1rem;
    color: #495057;
    background: #ffffff;
    padding: 2px 5px;
    border: 1px solid #898989;
    transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
}

.p-inputtext {
    margin: 0;
}

.p-dropdown .p-dropdown-label {
    background: transparent;
    border: 0 none;
    padding-right: 10px;
    overflow: hidden;
}

.p-dropdown-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.p-dropdown .p-dropdown-trigger {
    background: transparent;
    color: #6c757d;
    width: 12px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.p-dropdown-panel {
    background: #ffffff;
    color: #495057;
    border: 0 none;
    border-radius: 6px;
    box-shadow: 0 2px 12px #0000001a;
}

.p-dropdown-panel {
    position: absolute;
    top: 0;
    left: 0;
}

.p-dropdown.form-control {
    display: flex;
    align-items: center;
}

.p-dropdown-panel .p-dropdown-header {
    padding: 12px 20px;
    border-bottom: 1px solid #dee2e6;
    color: #343a40;
    background: #f8f9fa;
    margin: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.p-dropdown-panel .p-dropdown-header.p-dropdown-filter-container {
    position: relative;
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    padding-right: 28px;
    margin-right: -28px;
}

.p-dropdown-filter {
    width: 100%;
}

.p-dropdown-filter-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #6c757d;
    width: 13px;
}

.p-dropdown-panel {
    width: 100%;
    border-radius: 0;
}

.p-dropdown-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.p-dropdown-item {
    cursor: pointer;
    font-weight: 400;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    margin: 0;
    padding: 8px 13px;
    border: 0 none;
    color: #495057;
    background: transparent;
    transition: box-shadow .2s;
    border-radius: 0;
}

.p-dropdown-panel .p-dropdown-items p-dropdownitem:nth-child(even) .p-dropdown-item {
    background: #e7e7e7;
}

.p-dropdown-panel .p-dropdown-items p-dropdownitem:nth-child(odd) .p-dropdown-item {
    background: white;
}

.p-dropdown-item:hover {
    background-color: #bfccf4 !important;
}

.p-dropdown-empty-message {
    padding: 15px;
}

.p-dropdown .p-dropdown-clear-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
    color: #6c757d;
    right: 24px;
}


p-dropdown.ng-invalid[required]:not([disabled]):not([readonly]) .form-control {
    background-blend-mode: hard-light;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat;
    background-position: right 26px center;
    background-size: 15px;
    border-color: red;
    background-color: #f5e7e7;
    color: #d40505;
}


p-dropdown.ng-valid[required]:not([disabled]):not([readonly]) .form-control {
    background-blend-mode: hard-light;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAYAAAA+s9J6AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAACLhJREFUeJzt3U9oHOcdxnEfAoVYcWzVVIdKcYIuOW1s7A0ISiKjuMV2DnZTx6D24IY0OrhQnLqkTcDk0ENOJiW9NNA/kEsQgbWUmCVLUh0CG3djKGtLsbZumt0hkXKwYIlpDRElnZfEINRovTP7zjzvO+/3Az98nff3vo/fmdX82bYNAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQMaiblS6+9G7v5y/Ov9X8+/GUh8bUGhrt9bu6nQ7E5uD900VB/Un6uMFCqef8G2soYND6+pjBgpjaHJoPWkITY0dH7ukPnbAe2nCt7FaN1rn1WMAvFVdrp4YNIT8aAOkdOCZA1dsBdDUwzMPt3cd2nVRPS7ACzbDt7lWbq7crx4f4LQHfvTAQpYh5NQU6CHr8BFEoIc8A2jqjb+/MaseM+CMvAPIjghsEHWjs8oQcmcNgqYMHzsigjd1dmpRHbzNtXJzZae6L0Au1GHbquqd+gl1b4DM5fF3wEFqbnFuQt0jIDPqgPVTe57Y84W6T0Am1OFKUtxjisKx+TREXqXuGWDN2q21YXWgktZr77/2nLpvgBWVpcoZdaDS1PRL0++pewcM7N7H7v23OkyDlLp/QGqtG61RdYAIIYJWOlWaVQdo0Kr9o/YddR+BVNK+Fc21UvcRSEUdHAKIoDVXm329Gdv1akSNUXUvgcTUwWEXRNDqnbqXfwfcXPE4uGkb/lEHh90PQXv3+rvfU4eHHRDBUgeHHRBBUweHHRDBU4eHHRDBMt9vUIeHECJYlaVKIW7I3n1490fqXgKJRd3okDo87IAIlnnPijo4NqoRNXiNIfzT7rbL6vCwAyJY6tDYquZq84y6l0AqD/74QXmA2AERLHVwbNTMKzO/U/cRSKU8U/5cHSB2QASpKA/kEkB4Sx0cAohgxTtgIe6EMWVes6juJ5CYOjg26sjzRy6r+wgkVu/UC7MDqnsJpKIOjo0yv+Sq+wikog4PO2DBmMkYPzl+/fbEjBwd+bK6XK1f/ezqr9durX1LfXyuUQfHRo0dH1tV9xFf63fS4jDepT5WF9RatfPqANko82yjupfBSzppE6cn/qk+ZjV1cGyVebpf3cugxTva9rSTF5+iBnk3vTkLUAfHVsVzyA6o0u62vzt6bPQTGxOpHkve1MGxUTumdqxzSSHUutGaOPf6uQ9sTqp6THkZ/sHwqjpAzJfn4gBm8o0D9bjyoA6OreIXbhFz+ml79wspiBeaF36uDg9z5LG3Ft96kQlOTx0cW2Vuq1P3Mjjmwrt2rfYy/9OmF3Wjs+rwMDeeGuRPD0z2V9ShsVWNqMH3IfKmnvQiBFHdP+bBY+pJL8Lkq3tnq8zrNdS9DM7QwaF19cT7HsTSqdKsum+h9t576kkvwmIoSgDNzRjqXgZp+PvDX6gn3/cgqvsUUq8LZ25xbr968nuV63do8GpCDOyRXzzyR/Xk+7o47jlyz7S6NzZq/8/2/1ndy6C9ufTm8+pFcKeKd8Md6j5tZj7tpe6LjRp5fGRB3Uts8+N6ZuXmyl51n25T98JWjT85Pq/uJbb5s6D2PrX3atSNRtT9qrVqhbgGrCxV+BXUJeoF0W8deObAFfo0eMVnFZPKPuIbxNc3mTwnmEWZ77UreqS8n9ZmVZer7IAuMu8KUS+OJKXokXrMPvcOfVIvjiQ188rMpbz6Yv5OqR4vAQyIepEkqU6380LW/TA/36vHaaN2H979Uda9gkXqBZOksnznZbvbLqvHZ6uy6hEyol4wSerkb0++H3oPelVztRnku10LQb14ktT8lfnf2Bw7OyCcoF48SSvqRqUQx71VsQMWiHoxJSnzWsZBx3vfD++Tj8NG2Zh7OEK9mBKG8C+hjHWrmn5pmntBi0i9sBIGsZxmjHue2OPsQ81JyvbcwxHqhZXlQjSv81Mfr40qz5QbNk7H4TD1IktSC9cX3ut3QaqP1VZlPf9wgG+3bt3ptNS80l19jDaqslQ548LjXciJebpdveiSVK+3hqmPzVblOf9whHrRJam3r7096/sYtqrqcvV83nMPR6zcXNmpXoBJ6tWFV3+18fjVx2OrVPMPR5h3vagXYZK6fVo6eWbyQ/WxEEBYEwfxlHox9lsPPfXQLfUxEEBY59tpaRGKj3Ti/5ibptULM5RSzzUc9k7rnT+pF2jRq7naZAdEb+WZ8ufqhVrE2vf0vo/VcwtPFOkhWJdKPa/wTBzE0+pFW5Qq/bT0X/V8wkPmhulzr5/7QL2Ai1DquYTn1AvY5zr6wtF/8TgSBhYvomPqxexr7Tq066J6/lAQnJYmL9e/RgzPmFMq9aL2qeYW5/g7IOzjtLS/YgdEpmrXai+rF7nLpZ4fBILrQwIIMe6mIYRwwIXmhWfVi96Vaq42+Uou8meePRw/OX5dHQAXSj0XCFjoDwGzA8IJcRAn1WFg90Pwhg4OratDkWel/TYGkJmQTkvVvQa2tH1yeyG+gNSrom50SN1noKd4Ryz0bW3q/gJ3ZE5Lp3459Td1WGxXdbnKr6DwRxzE+9WhYQdE8NShsVX1Tv2EupdAauoAsfsheL59gHRjmc9tq/sHWOHbB0jZAVFI6lAlqcqVCteAKCZ1uPqp8SfH59V9AjKlDlmvGnl8ZEHdHyAX6rBtVeq+ALlRh21zVZerXAMiPOrgsfsheOrwmap36vwdEGFTh1A9fsAJBBBwQJ7hK50qzarHCziHHRBwQNbhGz02+ol6jIDzJk5PfJZFAMeOj11Sjw3wQutGa8J2AM0THOpxAd6xFcBaq8adMEAajagxyo8wgAN2PrbzP2nC1+l2DquPHSiMdrf97cufXv79nYK37+l9H7P7ATnYGLyLH178w9fXfqPq4wIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAh/Q/yN2UqP8dTegAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-position: right 40px center;
    background-size: 16px 13px;
}