<div class="modal" [class.active]="modalOpen">
    <div class="modal__bg" (click)="voltar()"></div>
    <div class="modal__inner"
         [ngStyle]="style">
        <div class="modal__content">
            <div class="modal__header pb-2">
                <h3>
                    <span class="icon">
                        <ng-template *ngIf="icon != undefined" [ngTemplateOutlet]="icon"></ng-template>
                        <fa-icon *ngIf="icon == undefined" [icon]="iconTitle"></fa-icon>
                    </span>
                    <span>{{title}}</span>
                </h3>
                <a (click)="voltar()" class="modal__header-close btn-close">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="modal__body mt-0">
                <ng-template [ngTemplateOutlet]="template ?? null"></ng-template>
            </div>
        </div>
    </div>
</div>