<p class="text-danger fw-bold">{{modalList.length}}</p>
<div [classList]="'modal ' + item.classList " [attr.modal]="item.id" *ngFor="let item of modalList" >
    <div class="modal__bg" (click)="voltar(item.id)"></div>
    <div class="modal__inner"
         [ngStyle]="item.style">
        <div class="modal__content">
            <div class="modal__header pb-2">
                <h3>
                    <span class="icon">
                        <ng-template *ngIf="item.icon != undefined" [ngTemplateOutlet]="item.icon"></ng-template>
                    </span>
                    <span>{{item.title}}</span>
                </h3>
                <a (click)="voltar(item.id)" class="modal__header-close btn-close">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="modal__body mt-0">
                <ng-template [ngTemplateOutlet]="item.template ?? null"></ng-template>
            </div>
        </div>
    </div>
</div>