<section class="page">
    <div class="page__header">
        <span class="title-icon">
            <fa-icon [icon]="faBars"></fa-icon>
        </span>
        <div class="me-auto">
            <h3 class="page__header-title">Pessoas/Empresas</h3>
            <p class="page__header-subtitle" *ngIf="empresaSelected"><small>Pessoas/Empresas cadastrados em 
                <strong>{{empresaSelected.razaoSocial || "Empresa X"}}</strong>
            </small></p>

        </div>
        <div class="ms-auto mb-0 col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 px-0">
            <app-empresa-select></app-empresa-select> <!-- *ngIf="account && account.perfilAcesso_Id == 1"-->
        </div>
    </div>
    <div class="page__body">
        <ng-template #topActions>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-2 me-md-2 mx-md-1 px-0 ng-star-inserted">
                <a class="btn btn-primary d-flex align-items-center align-baseline justify-content-center me-md-0 me-sm-1" [routerLink]="['cadastrar']">
                    <span style="margin-top: -1px; margin-bottom: 1px;"> Cadastrar</span>
                </a>
            </div>
        </ng-template>
        <app-list-shared 
                         [list]="list"
                         [topActions]="topActions"
                         [paginator]="true"
                         [filterLink]="false"
                         [filterTable]="true"
                         [sortTable]="true"
                         [menuTable]="true"
                         [columns]="columns"
                         [selectable]="true"
                         [tableLinks]="tableLinks"
                         [selectable]="true"></app-list-shared>
    </div>
</section>
<router-outlet></router-outlet>