<ng-template #icon>
    <fa-icon [icon]="faUser"></fa-icon>
</ng-template>
<ng-template #template>
    <form #form="ngForm" (ngSubmit)="send(form)" class="px-2">
        <div class="row">
            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12 ms-auto">
                <label class="fw-bold">Tipo</label>
                <div class="d-flex align-items-center">
                    <label for="cnpj" class="me-1">PJ: </label>
                    <input type="radio" class="me-2"
                           name="pj"
                           id="cnpj"
                           #cnpj="ngModel" 
                           [(ngModel)]="object.pj"
                           [value]="true" 
                           [checked]="object.pj" 
                           (change)="pjChange(documento.value)">
                    <label for="cpf" class="me-1">PF: </label>
                    <input type="radio"
                           name="pj"
                           id="cpf"
                           #cpf="ngModel" 
                           [(ngModel)]="object.pj" 
                           [value]="false"
                           [checked]="object.pj" 
                           (change)="pjChange(documento.value)">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-8 col-md-8 col-sm-6 col-12">
                <label for="nome">Nome Completo: <span class="text-danger">*</span></label>
                <input type="text"
                       class="form-control"
                       name="nome"
                       id="nome"
                       #nome="ngModel" 
                       [(ngModel)]="object.nome"
                       pattern="\S(.*\S)?" 
                       (change)="object.nome = nome.value.trim(); " 
                       required>
                <div *ngIf="nome.touched && nome.errors">
                    <p class="text-danger" *ngIf="nome.errors['required']">Este campo é obrigatório.</p>
                    <p class="text-danger" *ngIf="nome.errors['pattern']">
                        <span *ngIf="nome.errors['pattern']['requiredPattern'] == '^\\S(.*\\S)?$'">Remova os espaços
                            antes e depois do texto.</span>
                    </p>
                </div>
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
                <label for="documento">
                    <span *ngIf="object.pj">CNPJ: </span>
                    <span *ngIf="!object.pj">CPF: </span>
                    <span class="text-danger">*</span>
                </label>
                <!-- [pattern]=" object.pj ? '/^\d{2}\.\d{3}\.\d{3}\/\d{4}\-\d{2}$/' : '/^\d{3}\.\d{3}\.\d{3}\-\d{2}$/'" -->
                <input type="text"
                       class="form-control"
                       name="documento"
                       id="documento"
                       #documento="ngModel"
                       [(ngModel)]="object.documento"
                       [mask]="object.pj ? '00.000.000/0000-00' : '000.000.000-00'"
                       [placeholder]="object.pj ? '00.000.000/0000-00' : '000.000.000-00'"
                       (paste)="validaDocumento( documento.value)"
                       (change)="validaDocumento( documento.value)"
                       [disabled]="loading"
                       required>
                <div *ngIf="documento.touched && documento.errors">
                    <p class="text-danger" *ngIf="documento.errors['required']">Este campo é obrigatório.</p>
                    <p class="text-danger"
                       *ngIf="documento.errors['mask'] || documento.errors['invalid'] || documento.errors['pattern']">
                        <span *ngIf="object.pj">CNPJ </span>
                        <span *ngIf="!object.pj">CPF </span>
                        <span>inválido.</span>
                    </p>
                    <p class="text-danger" *ngIf="documento.errors['jaCadastrado']">
                        <span *ngIf="object.pj">CNPJ </span>
                        <span *ngIf="!object.pj">CPF </span>
                        <span>Já cadastrado</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                <label for="email">E-mail: <span class="text-danger">*</span></label>
                <input type="email" [email]="true"
                       class="form-control"
                       name="email"
                       id="email"
                       #email="ngModel"
                       [(ngModel)]="object.email" 
                       [pattern]="emailPattern" 
                       required>
                <div *ngIf="email.touched && email.errors">
                    <p class="text-danger" *ngIf="email.errors['required']">Este campo é obrigatório.</p>
                    <p class="text-danger" *ngIf="email.errors['email']">E-mail inválido.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-center">
                <input type="checkbox" class="me-1"
                       name="estrangeiro"
                       id="estrangeiro"
                       #estrangeiro="ngModel"
                       [(ngModel)]="object.estrangeiro" 
                       [value]="true">
                <label for="estrangeiro">Estrangeiro</label>
            </div>
        </div>
        <div class="row mt-1">
            <div class="d-flex align-items-center justify-content-between flex-wrap p-0 ">
                <div *ngIf="erro || form.invalid" class="m-0">
                    <p class="text-danger" *ngIf="erro">{{erro}}</p>
                    <p *ngIf="form.invalid && !erro" class="text-danger">Preencha todos os campos obrigatórios (*)
                        corretamente para salvar.</p>
                </div>
                <button class="btn btn-success mr-0 ms-auto" [disabled]="form.invalid || loading">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    <span>Salvar</span>
                </button>
            </div>
        </div>
    </form>
</ng-template>