<div class="form-group">
    <label for="empresa_Id">Selecione a Empresa</label>
    <p-dropdown [options]="empresas"
                (ngModelChange)="empresaChange()"
                [(ngModel)]="empresaSelected.id"
                name="empresa_Id"
                id="empresa_Id"
                #empresa_Id="ngModel"
                optionLabel="razaoSocial"
                optionValue="id"
                [filter]="true"
                filterBy="razaoSocial"
                [showClear]="false"
                styleClass="form-control"
                placeholder="Selecione uma empresa pra carregar"
                [required]="true">
        <ng-template pTemplate="selectedItem">
                <span *ngIf="empresaSelected.id">{{empresaSelected.empresa?.razaoSocial}}</span>
        </ng-template>
        <ng-template let-item pTemplate="item">
            <p>{{ item.razaoSocial }}</p>
            <p>{{ item.cnpj | mask : '00.000.000/0000-00' }}</p>
            <p class="flag"
               [class.flag-green]="!item.dataDesativado"
               [class.flag-danger]="item.dataDesativado"
               [title]="item.dataDesativado ? 'Desativado em ' + (item.dataDesativado | date : 'dd/MM/yyyy HH:mm') : ''">
                <span *ngIf="!item.dataDesativado">Ativo</span>
                <span *ngIf="item.dataDesativado">Inativo</span>
            </p>
        </ng-template>
    </p-dropdown>
</div>