<div (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">

    <app-navigation [ngStyle]="{ 'z-index': modalOpen ? '2' : '1', 'position': 'relative'}"></app-navigation>
    
    <div class="main" [ngStyle]="{ 'z-index': modalOpen ? '3' : '0', 'position': 'relative'}">
        <div class="main-content" [class.navigation-open]="navigationOpen">
            <app-header [ngStyle]="{ 'z-index': modalOpen ? '0' : '1', 'position': 'relative'}"></app-header>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-modal 
    [title]="title" 
    [template]="template" 
    [style]="style" 
    [routerBack]="routerBack" 
    [activatedRoute]="activatedRoute" 
    [icon]="icon">
</app-modal>
